* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.preload {
    display: none;
}

.obj-sentenca-wrapper {
    .tela {
        position: absolute;
    }

    .img-exercicio {
        max-width: 450px;
        margin: 15px auto;
    }

    .check-answer-btn {
        display: block;
        margin: 15px auto;
        padding: 10px;

        &.hidden {
            display: none;
        }
    }
}